.SlidersComponent__main--container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid var(--rangeSlider-ocean);
  margin: 15px auto;
  border-radius: 4px;
}

.AllSliders{
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.ListOfEffects {
  margin: 20px 0;
  width: 20%;
  border: 1px dashed var(--mainText-accent-blue);
  border-radius: 5px;
}

.ListOfEffects--header{
  font-family: var(--font-title);
  font-size: var(--fontSize-title);
  color: var(--mainText-ordinary-white);
  letter-spacing: 2px;
  margin: 15px 0;
  text-align: center;
}

.Effect{
  display: block;
  margin: 10px auto;
  border: 1px solid var(--mainText-accent-blue);
  border-radius: 5px;
  background-color: var(--mainText-accent-blue);
  width: 135px;
  height: 30px;
  text-align: center;
  color: var(--bodyBackground-dark-light);
  font-family: var(--font-ordinary);
  font-weight: 600;
  letter-spacing: 1px;
}

.Effect:hover{
  transition: 0.3s ease all;
  background-color: var(--bodyBackground-dark-light);
  color: var(--mainText-ordinary-white);
  cursor: pointer;
}

.Effect input{
  margin: auto 0;
}

.Sliders {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.SlidersComponent__main--container .Buttons {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
