#detailstrack {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 15px;
  text-align: center;
  color: var(--mainText-ordinary-white);
}

#detailstrack .TrackName{
  margin-left: 5px;
}

#detailstrack .icon {
  margin-right: 5px;
}
