.field input, button[class=submit] {
    width: 100%;
}

.field input {
    border-radius: 0.5rem;
    height: 2rem;
    color: var(--authInputFont-black);
}

.field input::placeholder {
    color: var(--authInputFont-black);
}

.submit {
    font-family: var(--font-ordinary);
    font-size: var(--fontSize-title);
    font-weight: bold;
    color: var(--mainText-ordinary-white);
    border: 1px solid black;
    background-color: var(--togglerSliderOff-white);
    display: flex;
    width: 150px;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    border-radius: 4px;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.submit:hover {
    color: var(--mainText-ordinary-white);
    border: 1px solid var(--mainText-accent-blue);
    background-color: var(--rangeSlider-ocean);
    cursor: pointer;
    transition: 0.3s ease all;
}

.submit:active {
    transform: matrix(0.95, 0, 0, 0.95, 0, 0);
}

@media screen and (max-width: 500px) {
    .submit {
        height: 2rem;
        font-size: 1rem;
    }
}
